# Deep Learning Core
torch>=2.1.0
torchvision
ultralytics       # YOLOv8
paddlepaddle==2.6.2  # PaddleOCR Core (hoặc paddlepaddle thường nếu lỗi CUDA)
paddleocr>=2.7.0, <2.8.0         # PaddleOCR Wrapper

# VLM / HuggingFace (Cho Giai đoạn 2)
transformers
accelerate
bitsandbytes      # Để load model VLM nhẹ hơn (quantization)
einops            # Cần cho một số model vision mới

# Image Processing
opencv-python
numpy<2.0
Pillow

# Web App
streamlit
pandas

# Utils
PyYAML            # Đọc file config

# Datasets
roboflow